{% extends 'Inventario/base.html' %}

{% block content %}
  <h2>Reporte de ventas</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio unitario</th>
        <th scope="col">Total</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for venta in ventas %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ venta.producto }}</td>
        <td>{{ venta.cantidad }}</td>
        <td>${{ venta.precio_unitario }}</td>
        <td>${{ venta.total }}</td>
        <td>{{ venta.fecha_venta }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No hay ventas registradas.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'crear_venta' %}" class="btn btn-success">Crear venta</a>  
{% endblock %}
